:host {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.25);
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  top: calc(154/25.6*1vw);
  left: calc(120/25.6*1vw);
  height: calc(230/25.6*1vw);
  width: 50%;
  #text {
    font-family: play-page-noodle;
    font-size: calc(266/25.6*1vw);
  }
  animation-duration: 0.6s;
  animation-name: headermove;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-direction: normal;
}

.modes {
  margin-top: calc(378/25.6*1vw);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > * {
    animation-duration: 0.2s;
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: both;

    &:nth-of-type(2) {
      animation-delay: 0.05s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.10s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.15s;
    }
    &:nth-of-type(5) {
      animation-delay: 0.20s;
    }

    margin-right: calc(16/25.6*1vw);
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      z-index: 2;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes headermove {
  from {
    opacity: 0;
    transform: translateY(calc(calc(30/25.6*1vw)));
  },
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
