@font-face {
    font-family: hero-gallery-noodle;
    src: url(/fonts/BigNoodleTooOblique.ttf);
}

:host {
  display: block;
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.header {
  display: block;
  height: 15.625vw;
  margin-bottom: -1vw;
  width: 50vw;
  #text {
    font-family: hero-gallery-noodle;
    font-size: 10.625vw;
  }
}

.modes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .thingy {
    position: relative;
    margin-right: 1.9225vw;
    height: calc(645/25.6*1vw); //25.15625vw;
    width: calc(400/25.6*1vw); //15.575vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &:last-of-type {
      margin-right: 0;
    }

    // The borders don't render nice.
    // Maybe I have to use four real elements with ::before and ::after elements
    // That have a white background
    // I can also animate easier that way
    &:hover::before {
      content: "";
      display: block;
      position: absolute;
      top: calc(-48/1.2/25.6*1vw);
      left: calc(-48/1.2/25.6*1vw);
      height: calc(40/1.2/25.6*1vw);
      width: calc(40/1.2/25.6*1vw);
      border-top: calc(3/1.2/25.6*1vw) solid white;
      border-left: calc(3/1.2/25.6*1vw) solid white;
    }

    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      bottom: calc(-48/1.2/25.6*1vw);
      right: calc(-48/1.2/25.6*1vw);
      height: calc(40/1.2/25.6*1vw);
      width: calc(40/1.2/25.6*1vw);
      border-bottom: calc(3/1.2/25.6*1vw) solid white;
      border-right: calc(3/1.2/25.6*1vw) solid white;
    }

    transition: transform 0.1s;
    &:hover {

      box-shadow: 0 0 0 0.1953vw #FFFFFF;
      transform: scale(1.2);
      .popup {
        height: 3.59375vw;
        .container {
          span {
            color: rgba(208,208,220,1);
          transition: color 0.15s ease-in 0.1s;
          }
        }
      }
    }

    .popup {
      position: relative;
      height: 0;
      background: #3C424D;
      overflow: hidden;
      transition: height 0.15s;
      .container {
        padding: 0 0.8vw 0 0.8vw;
        position: absolute;
        width: inherit;
        height: 3.59375vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        span {
          font-family: Helvetica;
          font-size: 0.9098vw;
            transition: color 0.05s ease-in 0s;
          color: rgba(208,208,220,0)
        }
      }
    }

    .label {
      height: 4.6875vw;
      background: rgba(215,237,255,0.92);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin-left: -0.525vw;
        color: #28354F;
        font-family: hero-gallery-noodle;
        font-size: 2.7vw;
      }
    }

    &.custom {
      background-image: url(images/custom.jpg);
    }
    &.quick {
      background-image: url(images/quick_play.jpg);
      .label {
        background: rgba(238, 245, 255, 0.92);
      }
    }
    &.vs-ai {
      background-image: url(images/vs_ai.jpg);
      .label {
        background: rgba(255, 245, 245, 0.92);
      }
    }
    &.competetive {
      background-color: #AA514A;
      background-image: url(images/competetive.jpg);
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
      .label {
        background: radial-gradient(ellipse farthest-corner at 45% 30%, #FFFBFA, #FFEAE7 80%, #FFDED9);
      }
    }
  }
}
