:host {
  display: block;
  position: relative;
  background: black;
}

#pages > * {
  display: none;
}

#pages > .visible {
  display: block;
}

#secret {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  background: black;
}
