:host {
  display: block;
  position: relative;
  background: black;
}

#chat[hidden] {
  display: none;
}

#pages > *:not(.visible) {
  display: none;
}

#exit {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: black;
}
