@font-face {
    font-family: noodle;
    src: url(/fonts/BigNoodleTooOblique.ttf);
}

@font-face {
    font-family: futura;
    src: url(/fonts/Futura.ttf);
}

:host {
  display: block;
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

:host[background] {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/main-menu.jpg);
}

a {
  text-decoration: none;
}

.main-menu {
  display: flex;
  flex-direction: column;
  margin-left: 2.5175vw;
  margin-top: 13.42vw;
  width: 30vw;
  a {
    margin-top: 0.3675vw;
    position: relative;
    z-index: 0;
    color: white;
    font-family: noodle;
    line-height: 1;
    font-size: 3.9375vw;
    &::before {
      position: absolute;
      left: 0;
      content: attr(content);
      position: absolute;
      z-index: -1;
      -webkit-text-stroke: 0.2175vw rgba(0,0,0,.1);
    }
  }
}

.sub-menu {
  margin-left: 2.5825vw;
  margin-top: 0.3875vw;
  width: 30vw;
  div {
    margin-top: 0.5475vw;
  }
  a {
    letter-spacing: 0.0390625vw;
    position: relative;
    z-index: 0;
    color: rgba(217,242,255,1);
    font-family: futura;
    font-size: 1.455vw;
    text-transform: uppercase;
    &::before {
      color: rgba(0,0,0,0);
      position: absolute;
      white-space:nowrap;
      left: 0;
      content: attr(content);
      position: absolute;
      z-index: -1;
      -webkit-text-stroke: 0.1175vw rgba(145,147,185,.7);
    }
  }
}

.hero-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 6.875vw;
  width: 86.25vw;
}

overwebs-gallery-hero {
  margin-left: 0.3125vw;
  margin-right: 0.3125vw;
  margin-bottom: 0.625vw;
}