@keyframes animate {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  10% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

:host {
  display: inline-block;

  &[white] {
    #one, #two, #three, #four, #five, #six, #seven {
      fill: #FFFFFF;
    }
  }

  #one, #two, #three, #four, #five, #six, #seven {
    animation-duration: 2.1s;
    animation-name: animate;
    animation-iteration-count: infinite;
    background: #FFFFFF;
  }

  #one {
    animation-delay: 0s;
  }

  #two {
    animation-delay: 0.15s;
  }

  #three {
    animation-delay: 0.3s;
  }

  #four {
    animation-delay: 0.45s;
  }

  #five {
    animation-delay: 0.6s;
  }

  #six {
    animation-delay: .75s;
  }

  #seven {
    animation-delay: .9s;
  }
}
