@keyframes glow {
  0% {
    box-shadow: 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .8),
                inset 0 0 0 calc(0/25.6*1vw) rgba(255, 255, 192, .8);
  }

  5% {
    box-shadow: 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .8),
                inset 0 0 0 calc(0/25.6*1vw) rgba(255, 255, 192, .8);
  }

  100% {
    box-shadow: 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .8),
                inset 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .8);
  }
}

@keyframes hoverglow {
  0% {
    box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF,
                inset 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 192, .9),
                inset 0 0 0 calc(2/25.6*1vw) rgba(255, 255, 192, .7),
                inset 0 0 0 calc(3/25.6*1vw) rgba(255, 255, 192, .1),
                inset 0 0 0 calc(4/25.6*1vw) rgba(255, 255, 192, .075),
                inset 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .05),
                inset 0 0 0 calc(6/25.6*1vw) rgba(255, 255, 192, .025);
  }

  5% {
    box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF,
              inset 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 192, .9),
              inset 0 0 0 calc(2/25.6*1vw) rgba(255, 255, 192, .7),
              inset 0 0 0 calc(3/25.6*1vw) rgba(255, 255, 192, .1),
              inset 0 0 0 calc(4/25.6*1vw) rgba(255, 255, 192, .075),
              inset 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .05),
              inset 0 0 0 calc(6/25.6*1vw) rgba(255, 255, 192, .025);
  }

  100% {
    box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF,
                inset 0 0 0 calc(1/25.6*1vw) rgba(255, 246, 181, .9),
                inset 0 0 0 calc(2/25.6*1vw) rgba(255, 246, 181, .7),
                inset 0 0 0 calc(3/25.6*1vw) rgba(255, 246, 181, .1),
                inset 0 0 0 calc(4/25.6*1vw) rgba(255, 246, 181, .075),
                inset 0 0 0 calc(5/25.6*1vw) rgba(255, 246, 181, .05),
                inset 0 0 0 calc(6/25.6*1vw) rgba(255, 246, 181, .025);
  }
}


@keyframes newshine {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0.1;
  }
  35% {
    opacity: .71;
  }
  50% {
    opacity: .65;
  }
  65% {
    opacity: .7;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

:host {
  position: relative;
  width: calc(186/25.6*1vw);
  height: calc(263/25.6*1vw);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-end;
  justify-content: flex-end;
  transition: transform 0.15s ease-in-out;
  text-align: center;
  cursor: url(/images/overwatch.cur), auto;
  border: calc(5/25.6*1vw) solid #DDDDE3;
  border-radius: calc(5/25.6*1vw);
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  transform: skewX(-15deg);
}

:host([new]) {
  .glow {
    display: block;
  }
  .new{
    display: flex;
  }
}

:host(:hover) {
  border: calc(5/25.6*1vw) solid #FFFFFF;
  // box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF;
  transform: skewX(-15deg) scale(1.2,1.2);
  transition: transform 0.08s ease-out;
  .glow {
    animation-name: hoverglow;
  }
}


:host([ana]) {
  background-image: url('images/ana.jpg')
}

:host([bastion]) {
  background-image: url('images/bastion.jpg')
}

:host([dva]) {
  background-image: url('images/dva.jpg')
}

:host([genji]) {
  background-image: url('images/genji.jpg')
}

:host([hanzo]) {
  background-image: url('images/hanzo.jpg')
}

:host([junkrat]) {
  background-image: url('images/junkrat.jpg')
}

:host([lucio]) {
  background-image: url('images/lucio.jpg')
}

:host([mccree]) {
  background-image: url('images/mccree.jpg')
}

:host([mei]) {
  background-image: url('images/mei.jpg')
}

:host([mercy]) {
  background-image: url('images/mercy.jpg')
}

:host([pharah]) {
  background-image: url('images/pharah.jpg')
}

:host([reaper]) {
  background-image: url('images/reaper.jpg')
}

:host([reinhardt]) {
  background-image: url('images/reinhardt.jpg')
}

:host([roadhog]) {
  background-image: url('images/roadhog.jpg')
}

:host([orisa]) {
  background-image: url('images/orisa.jpg')
}

:host([soldier76]) {
  background-image: url('images/soldier76.jpg')
}

:host([symmetra]) {
  background-image: url('images/symmetra.jpg')
}

:host([torbjorn]) {
  background-image: url('images/torbjorn.jpg')
}

:host([tracer]) {
  background-image: url('images/tracer.jpg')
}

:host([widowmaker]) {
  background-image: url('images/widowmaker.jpg')
}

:host([winston]) {
  background-image: url('images/winston.jpg')
}

:host([zarya]) {
  background-image: url('images/zarya.jpg')
}

:host([zenyatta]) {
  background-image: url('images/zenyatta.jpg')
}

:host([sombra]) {
  background-image: url('images/sombra.jpg')
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(85/25.6*1vw);
  background: #E3E3E7;
}

.new {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  border-radius: calc(5/25.6*1vw);
  height: calc(26/25.6*1vw);
  width: calc(57/25.6*1vw);
  margin-top: calc(12/25.6*1vw);
  padding-top: calc(2/25.6*1vw);
  margin-right: calc(12/25.6*1vw);
  text-transform: uppercase;
  text-shadow: calc(.6 / 25.6 * 1vw) calc(.8 / 25.6 * 1vw) #000;
  font-size: calc(18/25.6*1vw);
  font-family: gallery-hero-futura;
  color: #FFFF0F;
  box-shadow: 0 0 0 calc(3/25.6*1vw) rgba(0,0,0,0.7),
              inset 0 0 0 calc(1/25.6*1vw) rgba(255, 246, 181, .3),
              inset 0 0 0 calc(2/25.6*1vw) rgba(254, 162, 30, .9),
              inset 0 0 0 calc(3/25.6*1vw) rgba(254, 162, 30, .2);
  #glow {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100/25.6*1vw);
    width: calc(100/25.6*1vw);
    background: url('images/newFlare.png') center no-repeat;
    background-size: 128%;
    animation-duration: 4s;
    animation-name: newshine;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.glow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: calc(5/25.6*1vw);
  animation-duration: 1.5s;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

#name {
  padding-top: calc(10/25.6*1vw);
  line-height: calc(44/25.6*1vw);
  color: #28354F;
  transform: skewX(15deg) translate(-0.234375vw, 0);
  font-size: calc(36/25.6*1vw);
  letter-spacing: calc(1/25.6*1vw);
  font-family: gallery-hero-noodle;
  text-transform: uppercase;
}

.unlocked {
  color: #FFFFFF;
  -webkit-text-stroke:calc(1/25.6*1vw) rgba(0,0,0,.35);
  transform: skewX(15deg);
  font-size: calc(25/25.6*1vw);
  font-family: gallery-hero-futura;
  position: absolute;
  display: flex;
  width: 100%;
  top: calc(2/25.6*1vw);
  height: calc(30/25.6*1vw);
  align-items: center;
  justify-content: center;

}
.progress {
  position: relative;
  display: flex;
  height: calc(32/25.6*1vw);
  background: #D2DBE6;

  #completion {
    height: inherit;
  }
}
