:host {
  display: block;
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.searching-spinner {
  margin-left: calc(40 / 25.6 * 1vw);
  height: calc(80 / 25.6 * 1vw);
  width: calc(80 / 25.6 * 1vw);
}

.hero {
  opacity: 0.90;
  position: absolute;
  right: 2vw;
  top: calc(905 / 25.6 * 1vw);
  text-align: right;
  z-index: 0;
  .name, .nameShadow, .nameShadow2 {
    padding-right: 3vw;
    font-family: main-page-noodle;
    line-height: 1;
    font-size: calc(114 / 25.6 * 1vw);
    color: transparent;
  }
  .name {
    background: linear-gradient(white 0, white 50%, white 50%, #BDBFC0);
    -webkit-background-clip: text;
  }
  .nameShadow {
    color: transparent;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-text-stroke: 0.1275vw rgba(0,0,0,0.15);
    color: white;
  }
  .nameShadow2 {
    color: white;
    position: absolute;
    right: 0;
    z-index: -2;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 10%, rgba(219,155,143,0.85) 16%, rgba(0,0,0,0.15));
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.15vw transparent;
    color: white;
  }
  .unlocks, .unlocksShadow {
    font-family: main-page-futura;
    font-size: calc(36 / 25.6 * 1vw);
    text-transform: uppercase;
    padding-right: calc(70 / 25.6 * 1vw);
  }
  .unlocks {
    color: rgba(255,255,255,0.8);
    margin-top: calc(2 / 25.6 * 1vw);
    .unlocked {
      color: white;
    }
  }
  .unlocksShadow {
    color: rgba(0,0,0,0);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-text-stroke: 0.1775vw rgba(0,0,0,.15);
  }
}
