:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0 0 calc(8/25.6*1vw) rgba(256, 256, 256, 0.4), 0 0 calc(2/25.6*1vw) rgba(256, 256, 256, 0.8);
  font-family: button-futura;
  text-transform: uppercase;
  border-radius: calc(3/25.6*1vw);
  opacity: 0.95;
}

:host([yellow]) {
  height: calc(76/25.6*1vw);
  padding: 0 calc(66/25.6*1vw);
  background: rgba(240, 177, 64, 0.9);
  box-shadow: inset 0 0 calc(3/25.6*1vw) calc(1/25.6*1vw) rgba(208, 151, 52, 1), 0 0 0 calc(1/25.6*1vw) rgba(120, 82, 36, 1),
    0 0 calc(8/25.6*1vw) calc(1/25.6*1vw) rgba(120, 82, 36, 1);
  font-size: calc(46/25.6*1vw);
}

:host(yellow):hover {
  box-shadow: 0 0 0 calc(3/1.1/25.6*1vw) #ffffff;
  background: rgba(264, 194, 70, 0.9);
}

:host([blue]) {
  height: calc(48/25.6*1vw);
  padding: 0 calc(25/25.6*1vw);
  background: rgba(41, 139, 206, 0.9);
  box-shadow: 0 0 0 calc(1/25.6*1vw) rgba(33, 95, 144, 0.4), 0 0 calc(6/25.6*1vw) calc(1/25.6*1vw) rgba(33, 95, 144, 0.4);
  text-shadow: 0 0 calc(5/25.6*1vw) rgba(256, 256, 256, 0.3);
  border-radius: calc(2/25.6*1vw);
  font-size: calc(28/25.6*1vw);
}

:host(blue):hover {
  box-shadow: 0 0 0 calc(3/1.1/25.6*1vw) #ffffff;
  background: rgba(45, 153, 226, 0.9);
}

:host([purple]) {
  height: calc(48/25.6*1vw);
  padding: 0 calc(25/25.6*1vw);
  background: rgba(178, 0, 255, 0.9);
  box-shadow: 0 0 0 calc(1/25.6*1vw) rgba(33, 95, 144, 0.4), 0 0 calc(6/25.6*1vw) calc(1/25.6*1vw) rgba(33, 95, 144, 0.4);
  text-shadow: 0 0 calc(5/25.6*1vw) rgba(256, 256, 256, 0.3);
  border-radius: calc(2/25.6*1vw);
  font-size: calc(28/25.6*1vw);
}

:host([purple]):hover {
  box-shadow: 0 0 0 calc(3/1.1/25.6*1vw) #ffffff;
  background: rgba(196, 5, 255, 0.9);
}

:host([disabled]),
:host([disabled]:hover) {
  background: transparent;
  box-shadow: inset 0 0 calc(8/25.6*1vw) rgba(151, 172, 181, 0.4), 0 0 calc(8/25.6*1vw) rgba(151, 172, 181, 0.4),
    inset 0 0 calc(3/25.6*1vw) rgba(151, 172, 181, 0.7), 0 0 calc(2/25.6*1vw) calc(1/25.6*1vw) rgba(151, 172, 181, 1);
  color: rgba(141, 166, 181, 0.8);
  text-shadow: 0 0 calc(8/25.6*1vw) rgba(141, 166, 181, 0.4), 0 0 calc(2/25.6*1vw) rgba(141, 166, 181, 0.8);
}

:host([block]) {
  display: flex;
  padding: 0;
}
