@keyframes contentglow {
  0% {
    box-shadow: inset calc(1/25.6*1vw) calc(-1/25.6*1vw) 0 0 rgba(255, 255, 192, .9),
                inset calc(2/25.6*1vw) calc(-2/25.6*1vw) 0 0 rgba(255, 255, 192, .7),
                inset calc(3/25.6*1vw) calc(-3/25.6*1vw) 0 0 rgba(255, 255, 192, .1),
                inset calc(4/25.6*1vw) calc(-4/25.6*1vw) 0 0 rgba(255, 255, 192, .075),
                inset calc(5/25.6*1vw) calc(-5/25.6*1vw) 0 0 rgba(255, 255, 192, .05),
                inset calc(6/25.6*1vw) calc(-6/25.6*1vw) 0 0 rgba(255, 255, 192, .025),
                inset calc(-1/25.6*1vw) 0 0 0 rgba(255, 255, 192, .9),
                inset calc(-2/25.6*1vw) 0 0 0 rgba(255, 255, 192, .7),
                inset calc(-3/25.6*1vw) 0 0 0 rgba(255, 255, 192, .1),
                inset calc(-4/25.6*1vw) 0 0 0 rgba(255, 255, 192, .075),
                inset calc(-5/25.6*1vw) 0 0 0 rgba(255, 255, 192, .05),
                inset calc(-6/25.6*1vw) 0 0 0 rgba(255, 255, 192, .025);
  }

  5% {
    box-shadow: inset calc(1/25.6*1vw) calc(-1/25.6*1vw) 0 0 rgba(255, 255, 192, .9),
                inset calc(2/25.6*1vw) calc(-2/25.6*1vw) 0 0 rgba(255, 255, 192, .7),
                inset calc(3/25.6*1vw) calc(-3/25.6*1vw) 0 0 rgba(255, 255, 192, .1),
                inset calc(4/25.6*1vw) calc(-4/25.6*1vw) 0 0 rgba(255, 255, 192, .075),
                inset calc(5/25.6*1vw) calc(-5/25.6*1vw) 0 0 rgba(255, 255, 192, .05),
                inset calc(6/25.6*1vw) calc(-6/25.6*1vw) 0 0 rgba(255, 255, 192, .025),
                inset calc(-1/25.6*1vw) 0 0 0 rgba(255, 255, 192, .9),
                inset calc(-2/25.6*1vw) 0 0 0 rgba(255, 255, 192, .7),
                inset calc(-3/25.6*1vw) 0 0 0 rgba(255, 255, 192, .1),
                inset calc(-4/25.6*1vw) 0 0 0 rgba(255, 255, 192, .075),
                inset calc(-5/25.6*1vw) 0 0 0 rgba(255, 255, 192, .05),
                inset calc(-6/25.6*1vw) 0 0 0 rgba(255, 255, 192, .025);
  }

  100% {
    box-shadow: inset calc(1/25.6*1vw) calc(-1/25.6*1vw) 0 0 rgba(255, 246, 181, .9),
                inset calc(2/25.6*1vw) calc(-2/25.6*1vw) 0 0 rgba(255, 246, 181, .7),
                inset calc(3/25.6*1vw) calc(-3/25.6*1vw) 0 0 rgba(255, 246, 181, .1),
                inset calc(4/25.6*1vw) calc(-4/25.6*1vw) 0 0 rgba(255, 246, 181, .075),
                inset calc(5/25.6*1vw) calc(-5/25.6*1vw) 0 0 rgba(255, 246, 181, .05),
                inset calc(6/25.6*1vw) calc(-6/25.6*1vw) 0 0 rgba(255, 246, 181, .025),
                inset calc(-1/25.6*1vw) 0 0 0 rgba(255, 246, 181, .9),
                inset calc(-2/25.6*1vw) 0 0 0 rgba(255, 246, 181, .7),
                inset calc(-3/25.6*1vw) 0 0 0 rgba(255, 246, 181, .1),
                inset calc(-4/25.6*1vw) 0 0 0 rgba(255, 246, 181, .075),
                inset calc(-5/25.6*1vw) 0 0 0 rgba(255, 246, 181, .05),
                inset calc(-6/25.6*1vw) 0 0 0 rgba(255, 246, 181, .025);
  }
}

@keyframes completionglow {
  0% {
    box-shadow: inset calc(1/25.6*1vw) 0 0 0 rgba(255, 255, 192, .9),
                inset calc(2/25.6*1vw) 0 0 0 rgba(255, 255, 192, .7),
                inset calc(3/25.6*1vw) 0 0 0 rgba(255, 255, 192, .1),
                inset calc(4/25.6*1vw) 0 0 0 rgba(255, 255, 192, .075),
                inset calc(5/25.6*1vw) 0 0 0 rgba(255, 255, 192, .05),
                inset calc(6/25.6*1vw) 0 0 0 rgba(255, 255, 192, .025);
  }

  5% {
    box-shadow: inset calc(1/25.6*1vw) 0 0 0 rgba(255, 255, 192, .9),
                inset calc(2/25.6*1vw) 0 0 0 rgba(255, 255, 192, .7),
                inset calc(3/25.6*1vw) 0 0 0 rgba(255, 255, 192, .1),
                inset calc(4/25.6*1vw) 0 0 0 rgba(255, 255, 192, .075),
                inset calc(5/25.6*1vw) 0 0 0 rgba(255, 255, 192, .05),
                inset calc(6/25.6*1vw) 0 0 0 rgba(255, 255, 192, .025);
  }

  100% {
    box-shadow: inset calc(1/25.6*1vw) 0 0 0 rgba(255, 246, 181, .9),
                inset calc(2/25.6*1vw) 0 0 0 rgba(255, 246, 181, .7),
                inset calc(3/25.6*1vw) 0 0 0 rgba(255, 246, 181, .1),
                inset calc(4/25.6*1vw) 0 0 0 rgba(255, 246, 181, .075),
                inset calc(5/25.6*1vw) 0 0 0 rgba(255, 246, 181, .05),
                inset calc(6/25.6*1vw) 0 0 0 rgba(255, 246, 181, .025);
  }
}

@keyframes progressglow {
  0% {
    box-shadow: inset calc(-1/25.6*1vw) 0 0 0 rgba(255, 255, 192, .9),
                inset calc(-2/25.6*1vw) 0 0 0 rgba(255, 255, 192, .7),
                inset calc(-3/25.6*1vw) 0 0 0 rgba(255, 255, 192, .1),
                inset calc(-4/25.6*1vw) 0 0 0 rgba(255, 255, 192, .075),
                inset calc(-5/25.6*1vw) 0 0 0 rgba(255, 255, 192, .05),
                inset calc(-6/25.6*1vw) 0 0 0 rgba(255, 255, 192, .025);
  }

  5% {
    box-shadow: inset calc(-1/25.6*1vw) 0 0 0 rgba(255, 255, 192, .9),
                inset calc(-2/25.6*1vw) 0 0 0 rgba(255, 255, 192, .7),
                inset calc(-3/25.6*1vw) 0 0 0 rgba(255, 255, 192, .1),
                inset calc(-4/25.6*1vw) 0 0 0 rgba(255, 255, 192, .075),
                inset calc(-5/25.6*1vw) 0 0 0 rgba(255, 255, 192, .05),
                inset calc(-6/25.6*1vw) 0 0 0 rgba(255, 255, 192, .025);
  }

  100% {
    box-shadow: inset calc(-1/25.6*1vw) 0 0 0 rgba(255, 246, 181, .9),
                inset calc(-2/25.6*1vw) 0 0 0 rgba(255, 246, 181, .7),
                inset calc(-3/25.6*1vw) 0 0 0 rgba(255, 246, 181, .1),
                inset calc(-4/25.6*1vw) 0 0 0 rgba(255, 246, 181, .075),
                inset calc(-5/25.6*1vw) 0 0 0 rgba(255, 246, 181, .05),
                inset calc(-6/25.6*1vw) 0 0 0 rgba(255, 246, 181, .025);
  }
}

@keyframes hostglow {
  0% {
    box-shadow: 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 76, .9),
                0 0 0 calc(2/25.6*1vw) rgba(255, 255, 76, .7),
                0 0 0 calc(3/25.6*1vw) rgba(255, 255, 76, .1),
                0 0 0 calc(4/25.6*1vw) rgba(255, 255, 76, .075),
                0 0 0 calc(5/25.6*1vw) rgba(255, 255, 76, .05),
                0 0 0 calc(6/25.6*1vw) rgba(255, 255, 76, .025),
                inset 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 192, .9),
                inset 0 0 0 calc(2/25.6*1vw) rgba(255, 255, 192, .7),
                inset 0 0 0 calc(3/25.6*1vw) rgba(255, 255, 192, .1),
                inset 0 0 0 calc(4/25.6*1vw) rgba(255, 255, 192, .075),
                inset 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .05),
                inset 0 0 0 calc(6/25.6*1vw) rgba(255, 255, 192, .025);
  }

  5% {
    box-shadow: 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 76, .9),
              0 0 0 calc(2/25.6*1vw) rgba(255, 255, 76, .7),
              0 0 0 calc(3/25.6*1vw) rgba(255, 255, 76, .1),
              0 0 0 calc(4/25.6*1vw) rgba(255, 255, 76, .075),
              0 0 0 calc(5/25.6*1vw) rgba(255, 255, 76, .05),
              0 0 0 calc(6/25.6*1vw) rgba(255, 255, 76, .025),
              inset 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 192, .9),
              inset 0 0 0 calc(2/25.6*1vw) rgba(255, 255, 192, .7),
              inset 0 0 0 calc(3/25.6*1vw) rgba(255, 255, 192, .1),
              inset 0 0 0 calc(4/25.6*1vw) rgba(255, 255, 192, .075),
              inset 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .05),
              inset 0 0 0 calc(6/25.6*1vw) rgba(255, 255, 192, .025);
  }

  100% {
    box-shadow: 0 0 0 calc(1/25.6*1vw) rgba(236, 189, 75, .9),
                0 0 0 calc(2/25.6*1vw) rgba(236, 189, 75, .7),
                0 0 0 calc(3/25.6*1vw) rgba(236, 189, 75, .1),
                0 0 0 calc(4/25.6*1vw) rgba(236, 189, 75, .075),
                0 0 0 calc(5/25.6*1vw) rgba(236, 189, 75, .05),
                0 0 0 calc(6/25.6*1vw) rgba(236, 189, 75, .025),
                inset 0 0 0 calc(1/25.6*1vw) rgba(255, 246, 181, .9),
                inset 0 0 0 calc(2/25.6*1vw) rgba(255, 246, 181, .7),
                inset 0 0 0 calc(3/25.6*1vw) rgba(255, 246, 181, .1),
                inset 0 0 0 calc(4/25.6*1vw) rgba(255, 246, 181, .075),
                inset 0 0 0 calc(5/25.6*1vw) rgba(255, 246, 181, .05),
                inset 0 0 0 calc(6/25.6*1vw) rgba(255, 246, 181, .025);
  }
}

@keyframes hostglowhover {
  0% {
    box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF,
                inset 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 192, .9),
                inset 0 0 0 calc(2/25.6*1vw) rgba(255, 255, 192, .7),
                inset 0 0 0 calc(3/25.6*1vw) rgba(255, 255, 192, .1),
                inset 0 0 0 calc(4/25.6*1vw) rgba(255, 255, 192, .075),
                inset 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .05),
                inset 0 0 0 calc(6/25.6*1vw) rgba(255, 255, 192, .025);
  }

  5% {
    box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF,
              inset 0 0 0 calc(1/25.6*1vw) rgba(255, 255, 192, .9),
              inset 0 0 0 calc(2/25.6*1vw) rgba(255, 255, 192, .7),
              inset 0 0 0 calc(3/25.6*1vw) rgba(255, 255, 192, .1),
              inset 0 0 0 calc(4/25.6*1vw) rgba(255, 255, 192, .075),
              inset 0 0 0 calc(5/25.6*1vw) rgba(255, 255, 192, .05),
              inset 0 0 0 calc(6/25.6*1vw) rgba(255, 255, 192, .025);
  }

  100% {
    box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF,
                inset 0 0 0 calc(1/25.6*1vw) rgba(255, 246, 181, .9),
                inset 0 0 0 calc(2/25.6*1vw) rgba(255, 246, 181, .7),
                inset 0 0 0 calc(3/25.6*1vw) rgba(255, 246, 181, .1),
                inset 0 0 0 calc(4/25.6*1vw) rgba(255, 246, 181, .075),
                inset 0 0 0 calc(5/25.6*1vw) rgba(255, 246, 181, .05),
                inset 0 0 0 calc(6/25.6*1vw) rgba(255, 246, 181, .025);
  }
}

:host {
  width: calc(168/25.6*1vw);
  height: calc(380/25.6*1vw);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-end;
  justify-content: flex-end;
  transition: transform 0.15s ease-in-out;
  text-align: center;
  overflow: hidden;
  &:hover {
    transform: scale(1.2,1.2);
    box-shadow: 0 0 0 calc(4/25.6*1vw) #FFFFFF;
    transition: transform 0.08s ease-out;
  }
  &[new] {
    animation-duration: 1.5s;
    animation-name: hostglow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    &:hover {
      animation-name: hostglowhover;
    }
  }
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  &.ana {
    background-image: url('images/ana.jpg')
  }
  &.bastion {
    background-image: url('images/bastion.jpg')
  }
  &.dva {
    background-image: url('images/dva.jpg')
  }
  &.genji {
    background-image: url('images/genji.jpg')
  }
  &.hanzo {
    background-image: url('images/hanzo.jpg')
  }
  &.junkrat {
    background-image: url('images/junkrat.jpg')
  }
  &.lucio {
    background-image: url('images/lucio.jpg')
  }
  &.mccree {
    background-image: url('images/mccree.jpg')
  }
  &.mei {
    background-image: url('images/mei.jpg')
  }
  &.mercy {
    background-image: url('images/mercy.jpg')
  }
  &.pharah {
    background-image: url('images/pharah.jpg')
  }
  &.reaper {
    background-image: url('images/reaper.jpg')
  }
  &.reinhardt {
    background-image: url('images/reinhardt.jpg')
  }
  &.roadhog {
    background-image: url('images/roadhog.jpg')
  }
  &.soldier76 {
    background-image: url('images/soldier76.jpg')
  }
  &.symmetra {
    background-image: url('images/symmetra.jpg')
  }
  &.torbjorn {
    background-image: url('images/torbjorn.jpg')
  }
  &.tracer {
    background-image: url('images/tracer.jpg')
  }
  &.widowmaker {
    background-image: url('images/widowmaker.jpg')
  }
  &.winston {
    background-image: url('images/winston.jpg')
  }
  &.zarya {
    background-image: url('images/zarya.jpg')
  }
  &.zenyatta {
    background-image: url('images/zenyatta.jpg')
  }
  &.sombra {
    background-image: url('images/sombra.jpg')
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(168/25.6*1vw);
    background: radial-gradient(ellipse farthest-corner at 50% -15%, #DADCE5, #D2D1D6 50%, #ADABBB);
  }
  &[new] .content {
    animation-duration: 1.5s;
    animation-name: contentglow;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    .progress {
      animation-duration: 1.5s;
      animation-name: progressglow;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
    }

    #completion {
      animation-duration: 1.5s;
      animation-name: completionglow;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
    }
  }
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  border-radius: calc(5/25.6*1vw);
  height: calc(26/25.6*1vw);
  width: calc(57/25.6*1vw);
  margin-top: calc(12/25.6*1vw);
  padding-top: calc(2/25.6*1vw);
  margin-right: calc(12/25.6*1vw);
  text-transform: uppercase;
  text-shadow: calc(.6 / 25.6 * 1vw) calc(.8 / 25.6 * 1vw) #000;
  font-size: calc(18/25.6*1vw);
  font-family: gallery-hero-futura;
  color: #FFFF0F;
  box-shadow: 0 0 0 calc(3/25.6*1vw) rgba(0,0,0,0.7),
              inset 0 0 0 calc(1/25.6*1vw) rgba(255, 246, 181, .3),
              inset 0 0 0 calc(2/25.6*1vw) rgba(254, 162, 30, .9),
              inset 0 0 0 calc(3/25.6*1vw) rgba(254, 162, 30, .2),
}

#name {
  transform: translate(-0.234375vw, 0);
  line-height: 2.734375vw;
  color: #28354F;
  font-size: 2.0833vw;
  font-family: gallery-hero-noodle;
  text-transform: uppercase;
}

.unlocked {
  color: #28354F;
  font-size: 2.1875vw;
  font-family: gallery-hero-futura;
}
.unlockable {
  color: #1C75BC;
  font-size: 1.04166vw;
  font-family: gallery-hero-futura;
  vertical-align: -10%;
}

.progress {
  margin-bottom: 0.52083vw;
  display: flex;
  height: 0.3125vw;
  background: rgba(176, 195, 212, 0.9);

  #completion {
    height: inherit;
  }
}
